# Portlab Data Essentials - Data Manipulation & Visualization

## Preface

Before you start working on this tutorial, we do want to put this disclaimer out there — the exercises are created to give you an overview of the data analysis process you could expect to see in a Portlab project. Also, this tutorial strictly focuses on **data manipulation and visualization**, so we won't talk about more advanced methods, i.e., machine learning, in this tutorial yet. By no means does this exercise cover everything you'll face throughout the project. That being said, we do expect you to have a good grasp of the essentials we touched on here.

Start off the tutorial by scanning the data and reading the **problem statement**, then move on from **one scenario to another in numeric order**! Each scenario has a number of **tasks** and **subtasks**, and **hints** that come with them to help you tackle the problems. Make sure to scroll right to see the tips (the ones with a light bulb on top) as well!

Finally, we did our best to prepare and proofread the materials, but please let us know if you spot anything erroneous, odd, or just anything you disagree with. Thank you, and hope y'all have fun and learn a few tricks from the exercises!

## Problem Statement

**Mr Loanly** is a financial services startup that offers personal loans. Recently, they noticed that their borrowers' average default rate has skyrocketed. However, they currently don't have the capability to conduct in-depth analyses, and they also have limited understanding of their clients. Therefore, **Mr Loanly** would like your team to help them learn about their borrowers and identify trends that might be leading to the increased default rates.

## Data

Your team has been paired with a financial services provider, **Mr Loanly**, as a client. They have provided you with two deidentified datasets, **loans.csv** and **borrowers.csv**, to start off.

\* The datasets were collected from here and further adapted for our example.

In [3]:
import pandas as pd

loans = pd.read_csv("data/loans.csv")
borrowers = pd.read_csv("data/borrowers.csv")

In [4]:
loans.head()

,loan_id,borrower_id,request_date,purpose,int_rate,installment,not_fully_paid,Unnamed: 7,loan_id.1,borrower_id.1,request_date.1,purpose.1,int_rate.1,installment.1,not_fully_paid.1
0,L1000,B1102,44500.0,debt_consolidation,0.1545,453.52,0,NaN,L1000,B1102,9/28/2021,debt_consolidation,0.1545,453.52,0
1,L1001,B1435,44500.0,debt_consolidation,0.1183,533.46,0,NaN,L1001,B1435,10/12/2021,debt_consolidation,0.1183,533.46,0
2,L1002,B1860,44400.0,credit_card,0.1146,197.75,1,NaN,L1002,B1860,6/6/2021,credit_card,0.1146,197.75,1
3,L1003,B1270,44300.0,NaN,0.1646,106.16,0,NaN,L1003,B1270,3/16/2021,all_other,0.1646,106.16,0
4,L1004,B1106,44500.0,NaN,0.1221,159.92,0,NaN,L1004,B1106,10/15/2021,all_other,0.1221,159.92,0

In [5]:
borrowers.head()

,borrower_id,credit_policy,log_annual_inc,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,...,credit_policy.1,log_annual_inc.1,dti.1,fico.1,days_with_cr_line.1,revol_bal.1,revol_util.1,inq_last_6mths.1,delinq_2yrs.1,pub_rec.1
0,B1102,0,10.596635,14.52,657,3810.00000,8545,82.2,3,0,...,0,10.596635,14.52,657,3810.00000,8545,82.2,3,0,0
1,B1435,1,11.156251,10.89,732,3600.00000,15942,40.9,3,0,...,1,11.156251,10.89,732,3600.00000,15942,40.9,3,0,0
2,B1860,1,10.348173,13.73,692,2069.95833,14154,85.8,0,0,...,1,10.348173,13.73,692,2069.95833,14154,85.8,0,0,0
3,B1270,0,11.002100,28.16,672,6480.04167,7846,25.8,4,1,...,0,11.002100,28.16,672,6480.04167,7846,25.8,4,1,0
4,B1106,1,11.127322,3.99,702,5040.00000,468,7.2,1,1,...,1,11.127322,3.99,702,5040.00000,468,7.2,1,1,0

## Scenario 1: Navigating Ambiguity

You are handed some datasets at the start of your Portlab project. However, your client didn't have time to clean up the data for you and a lot of the cells seem to be empty. How many potential issues can you spot in the data provided here?

**Learning goals:**
- Understand that real-world data WILL be messy and requires back-and-forth communication.
- Learn how to perform basic data cleaning and deal with missing data.

### Task 1: Understanding the Data

### Task 2: Missing Data

### Task 3: Detecting Anomalies

### Task 4: Standardizing Formats

## Scenario 2: EDA

You've finished cleaning the data. Now what? Try to gain a basic understanding of the dataset through some visualizations!

**Learning goals:**
- Learn how to perform a basic exploratory data analysis (EDA).
- Grasp the basic principles of data visualization.
- Expand your Google Sheets vocabulary and brush up on basic functions.

### Task 1: Summary Statistics

### Task 2:  Visualization Essentials

## Scenario 3: Deep Dive

Your team has just finished communicating some preliminary findings to your client. They pointed out a couple of interesting trends and anomalies, and ask you to dig deeper and figure out WHY. 

**Learning goals:**
- Learn how to create and utilize the powerful pivot table.
- Get comfortable with more intermediate spreadsheet functions.

### Task 1: Merging Tables

### Task 2:  Sprinkling In Some Stats

### Task 3: Pivot! Pivot!

## Scenario 4: Storytelling

Congrats! Your team has reached the end of the project and you're ready to compile your findings into a presentation. How can we put together a coherent and compelling story using visualizations?

**Learning goals:**
- Develop effective and expressive visualizations.
- Knit together a story and narrative using your visualizations.

### Task: Putting It All Together!